$main-color: #0074D9;

.about {
    width: 100%;
    overflow-y: hidden;
    background-image: url('../Assets/Images/wave.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .picture {
        width: 200px;
        height: 200px;
        border: 1px solid black;
        background-color: color;
        border-radius: 10px;
        background-image: url('../Assets/Images/profilepic.png');
        background-size: cover;
        margin-top: 25px;
        margin-bottom: 35px;
    }

    .socialLinks {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        a {
            margin: 0 10px;
        }
    }

    .aboutInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px; // Add horizontal padding to maintain spacing

        // Center align text horizontally
        text-align: center;

        // Limit maximum width for smaller screens
        max-width: 90%;

        h2 {
            padding-bottom: 10px;
        }

        h3 {
            padding-bottom: 15px;
        }

        p {
            padding-bottom: 5px;
        }

        .endOfPara {
            padding-bottom: 15px;
        }
    }
}

