$text-color: black;
$hover-color: #0074D9;
$margin-spacing: 80px;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;

  .navLogo {
    margin-left: $margin-spacing;
    color: $text-color;

    a {
      text-decoration: none;
      color: $text-color;
    }
  }

  .navLinks {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline; 
        margin-right: $margin-spacing;

        a {
          text-decoration: none;
          color: $text-color;

          &:hover {
            color: $hover-color;
          }
        }
      }
    }
  }

  .navBtn {
    margin-top: 15px;
    margin-right: $margin-spacing;
    
    .feather-menu {
      display: none; 
    }
  }

  @media (max-width: 767px) {
    .navLogo {
      margin-left: 10px; 
    }

    .navLinks {
      display: none;
    }

    .navBtn {
      margin-bottom: 10px;
      margin-left: 100px;
      .feather-menu {
        display: block; 
      }
    }

    .showOnMobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
      z-index: 999;
      align-items: center;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); 

      ul {
        margin-top: 20px;
        padding-left: 0;
        flex-direction: column;
        list-style-type: none;
      }

      li {
        margin-right: 30px;
        margin-bottom: 25px; 

        a {
            text-decoration: none;
            color: $text-color; 
          }
      }
    }
  }
}
